$primary:#232b3b;
$secondary:#36435c;
$thirdly: aliceblue;

$breakpoints: (
    mobile-sm: 576px,
    mobile: 992px
);

@mixin mobile-only ($breakpoint: map-get($breakpoints, mobile)){
     @media screen and (max-width: $breakpoint){
        @content; 
    }
}

.first-header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
}


.nav-style{
    background-color: $primary;
}

.tm-top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 10000;
    transition: all 0.3s ease-in-out;
    background: $primary;
}


.nav-link{
    color: #999;
    transition: all 1s ease-in-out;
}

.nav-style .navbar-toggler,
.nav-link:hover, 
.nav-link:active, 
.nav-link:focus {
    color: white;
    background-color: $secondary;
    outline: none;
    border-color: $secondary;
}


/*effet des text sur le Logo*/

.font-styler{
    // font-family: "Inter", sans-serif;
    font-family: "Lucida Handwriting","Brush Script MT", Cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo{
    font-size: 2rem;
    font-weight: 900;
    background-color: $primary;
    border-radius: 10%;
    color: $thirdly;
    display: block;
    padding: 0.5em;
}

.logo:nth-child(2) {
    position: absolute;
    background-color: $thirdly;
    border-radius: 40%;
    color: $primary;
    clip-path: inset(-1% -1% 50% -1%);
}

.font-styler:after,
.logo:before {
    box-sizing: border-box;
}

.btn:focus{
    box-shadow: none;
    // transform: scale(0);
}  

.display{
    &-none{
        display: none;
    }
    &-block{
        display:block;
    }
}

//css Contact icon

.contact{
    padding-right: 18%;
    @include mobile-only{
        padding-right: 0;
    }
}
.iconContact{
    border:none;
    transition: 1s ease-out;
    color: black;
    :hover{
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
        border-radius: 35px;
        color: black;
    }
    &-size{
        font-size: 45px;
        border-radius: 35px;
    }
}

.btn{
    &-futuriste{
        background: radial-gradient(rgba(13,202,240,0.5), transparent), url("../../../../assets/img/bg-btn-futurist1.gif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 228%;
        width: 100px;
        height: 100px;
        color: rgba(25,250,255,1);
        font-size: 0.7rem;
        font-family: transfrm;
        letter-spacing: 2px;
        border-radius: 50%;
        transition: 500ms;
        &:hover{
            transform: scale(1.3);
            transition: 500ms;
        }
        &:focus, &:active{
            background: radial-gradient(rgba(35,43,59,0.5), rgba(13,202,240,0.5)), url("../../../../assets/img/bg-btn-futurist1.gif");
            background-position: center;
            background-repeat: no-repeat;
            animation-name: btn-futuriste-active;
            animation-duration: 500ms;
            @keyframes btn-futuriste-active {
                0%{background-size: 228%;}
                50%{background-size: 200%;}
                100%{background-size: 600%;}
                
            }
        
        }
    }
}
