
    <div class="first-header">
        <div class="container">
            <nav class="navbar navbar-expand-lg mt-5 p-0 px-5 py-4 py-lg-0 nav-style" id="navBar">
                <div class="navbar-brand">
                    <span class="font-styler">
                        <span class="logo">YesGoPlat</span>
                        <span class="logo">YesGoPlat</span>
                    </span>
                </div>

                <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--Menu-->
                    <ul class="navbar-nav m-auto text-center" *ngIf="menu===true">
                        <li class="nav-item active">
                            <a class="nav-link py-lg-4" href="#">PRESENTATION</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-lg-4" href="#">NOS ASSURANCES</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-lg-4" href="#">NOS SERVICES</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-lg-4" href="#">NOS PRATIQUES</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-lg-4" href="#">DECLARATION</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link py-lg-4" href="#">CONTACT</a>
                        </li>

                    </ul>

                    <!--contact-->
                    <div class="m-auto text-center row contact" *ngIf="menu===false">

                        <div class="col-6 col-md-3 py-3 py-md-0">
                            <a class="btn btn-outline-info iconContact" href="https://web.facebook.com/profile.php?id=100005438384847" target="_blank" title="contancter sur facebook">
                                <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-square" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-facebook-square fa-w-14 fa-3x" width="45" height="45">
                                    <path fill="currentColor" d="M400 32H48A48 48 0 0 0 0 80v352a48 48 0 0 0 48 48h137.25V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.27c-30.81 0-40.42 19.12-40.42 38.73V256h68.78l-11 71.69h-57.78V480H400a48 48 0 0 0 48-48V80a48 48 0 0 0-48-48z" class="">
                                        
                                    </path>
                                </svg>
                            </a>
                        </div>

                        <div class="col-6 col-md-3 py-3 py-md-0">
                            <a class="btn btn-outline-danger iconContact" href="https://www.linkedin.com/in/tojo-nomenjanahary-a1370020b/" target="_blank" title="contancter sur linkedIn">
                                <i class="fab fa-linkedin-in iconContact-size"></i>
                            </a>
                        </div>

                        <div class="col-6 col-md-3 py-3 py-md-0">
                            <a class="btn btn-outline-warning iconContact mailto" href="mailto:tojonomenjanahary98@gmail.com" target="_blank" title="envoyer un Email">
                                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-envelope fa-w-16 fa-5x" width="45" height="45">
                                    <path fill="currentColor" d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z" class="">
                                        
                                    </path>
                                </svg>
                            </a>
                        </div>

                        <div class="col-6 col-md-3 py-3 py-md-0">
                            <a class="btn btn-outline-secondary twit iconContact" href="https://github.com/TojoNoum" target="_blank" title="Visite sur github">
                                <i class="fab fa-github iconContact-size"></i>
                            </a>
                        </div>




                    </div>

                    <div class="form-inline ml-lg-4 d-flex pt-4 align-center justify-content-center d-lg-none">
                        <button class="btn btn-outline-success my-2 my-sm-0" (click)="onMenuActive()">{{buttonContent}}</button>
                    </div>
                </div>

                <div class="form-inline ml-lg-4  d-none d-lg-block">
                    <button class="btn btn-outline-success my-2 my-sm-0" (click)="onMenuActive()">{{buttonContent}}</button>
                </div>
            </nav>
        </div>
    </div>

    <!-- Logo <div style="background-color: green; width: 70px; height: 70px; padding-top: 10px;">
        <span class="font-styler" style="font-family: transfrm;">
            <span class="logo">Y!</span>
            <span class="logo">Y!</span>
        </span>
    </div> -->


