                        <!-- Mascotte Robot -->
                    <div class="robotMascot">
                        <div class="robotMascot-hand robotMascot-hand--left"></div>
        
                        <a href="#" class="robotMascot-body">
                            <div class="robotMascot-eyes">
                                <span>^</span> <span>^</span>
                            </div>
        
                            <div class="robotMascot-stuffy">
                                <span>_</span>
                            </div>
                        </a>
        
                        <div class="robotMascot-hand robotMascot-hand--right"></div>
        
                        <div class="robotMascot-foot robotMascot-foot--left"></div>
                        <div class="robotMascot-foot robotMascot-foot--right"></div>
                    </div>
                            <!-- Mascotte Robot -->
