@font-face {
    font-family: "transfrm";
    src: url("../../../../assets/font-family/transfrm.ttf") format("truetype");
   }

$color-primary:#232b3b;
$color-secondary:#36435c;
$color-thirdly: aliceblue;

$breakpoints: (
    mobile-sm: 576px,
    mobile: 992px
);

@mixin mobile-only ($breakpoint: map-get($breakpoints, mobile)){
     @media screen and (max-width: $breakpoint){
        @content; 
    }
}
@mixin card-style ($width:50%, $heigth:50%,$widthMobile:80%, $heigthMobile:60%, ) {
    width: $width;
    height: $heigth;
    border-radius: inherit;
    @include mobile-only{
        margin-top: 10%;
        width: $widthMobile;
        height: $heigthMobile;
    }    
}

@mixin linear-gr ($last-background) {
    background: linear-gradient(transparent, rgba($color: #000000, $alpha: 0.4)),
    linear-gradient(to top, transparent 80%, $color-primary 80%),
    linear-gradient(to bottom, transparent 80%, $color-primary 80%),
    linear-gradient(to left, transparent 90%, $color-primary 10%),
    linear-gradient(to right, transparent 90%, $color-primary 10%),
    $last-background ;
}

section{
    background: url("../../../../assets/img/Fond-ligne-electronique1.gif"), black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    color: $color-thirdly;
    @include mobile-only{
        background-position: inherit;
    };

    .card{
        background-color: $color-thirdly;
        box-shadow: 0 0 40px  $color-secondary;
        border: 10px solid $color-primary;
        @include card-style;
        &-cover{
            @include card-style;
            z-index: 101;
            transform: scale(0.99);
            box-shadow: 0 0 0px  $color-secondary;
            @include linear-gr($color-secondary);
            @include mobile-only{
                transform: scale(0.98);
            };
            &--open{      
                animation-name: cardCoverOpen;
                animation-duration: 2s;
                top: 74%;
                @keyframes cardCoverOpen{
                    0% { top:25%; opacity: 1;}
                    100% { top:74%; opacity: 1;}
                }
                @include mobile-only{
                    top: 72%;
                    @keyframes cardCoverOpen{
                        0% { top:17.6%; opacity: 1;}
                        100% { top:72%; opacity: 1;}
                    }
                }

            }
            &--close{      
                animation-name: cardCoverClose;
                animation-duration: 2s;
                @keyframes cardCoverClose{
                    0% { top:74%; opacity: 1;}
                    100% { top:25%; opacity: 1;}
                }
                @include mobile-only {
                    @keyframes cardCoverClose{
                        0% { top:72%; opacity: 1;}
                        100% { top:16.6%; opacity: 1;}
                    }
                }
                @include mobile-only (map-get($breakpoints, mobile-sm)){
                    @keyframes cardCoverClose{
                        0% { top:72%; opacity: 1;}
                        100% { top:17.5%; opacity: 1;}
                    }
                }

            }

            
        }
    }
    
}



.welcome{
    &-block{
    width: 100%;
    height: 100%;
    &--none{
        transition: ease-out 500ms;
        transform: scale(0);
    }
    }
}

.myBtn{

    &-primary{
        width: 100%;
        min-height: 50px;
        background: url("../../../../assets/img/eclaire-blanc.gif");
        background-size: contain;
        background-repeat: repeat;
        outline: none;
        transition: ease-out 500ms;
        &:hover{
            background: #05e8ff;
        }
        &:focus{
            box-shadow: none;
            // transform: scale(0);
        }      
        
    
    }
}

hr{
    color:#05e8ff;
}

@function change-color-lightness($color) {
    @if ( lightness($color) < 25% ) {
         @return lighten($color, 10%);
    }@else{
         @return darken($color, 10%);
    }
}

@mixin change-color($color: change-color-lightness($color-thirdly)){ 
	color: $color;
}

.word{
    font-size: 1rem;
    font-family: transfrm;
    letter-spacing: 2px;
    &-first{
        @include change-color(#93A32E);
        font-size: 2rem;
        
    }
    &-second{
        @include change-color(#05e8ff);
        font-size: 1.8rem;
    }
}

