<section class="d-flex align-items-center justify-content-center d-relative" >

    <div class="card text-center p-4">
        <p class="word-first">Bonjour, Je m’appelle :</p>
        <p class="word-second">TOJONOMENJANAHARY Jean Frederic</p>
        <p class="word-first">Et je suis le fondateur du plateforme YesGoPlat.</p>
        <p>YesGoPlat est une plateforme qui contient beaucoup des animations futuristes réutilisable pour
            vos pages en utilisant SASS/CSS, HTML et Javascript et aussi d’autre pages pour faciliter votre vie professionnelle
            avec le thème du future bien sûr.
        </p>

        <div class="positionOfRobotMascot">
            <app-mascot-robot></app-mascot-robot>
        </div>
        
    </div>

    <div class="card-cover position-absolute">

        <div class="welcome-block position-relative d-flex justify-content-center flex-column align-items-center p-sm-4" >
            <div class="p-5">
                <div class="welcome">
                    <p> <span class="word-first">Bienvenue à vous,</span><span class="word-second"> mon humble invité.</span></p>
                    <hr width="140" size="6">
                </div>
                <button class="btn btn-outline-info myBtn-primary word" (click)="onRemoveWelcome()">{{buttonCoverContent}}</button>
            </div>
        </div>
        
    </div>

</section>
